<div class="row">
  <div class="col-md-12 col-lg-12">
    <nb-card size="large">
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Analitcs">

            <div class="row">
              <div class="col-md-2 col-sm-12">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="label">Tipo de Justiça:</label>
                      <nb-select [(selected)]="position" class="position-select" fullWidth>
                        <nb-option *ngFor="let p of positions" [value]="p">{{ p }}</nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="label">Tribunal:</label>
                      <nb-select [(selected)]="position" class="position-select" fullWidth>
                        <nb-option *ngFor="let p of positions" [value]="p">{{ p }}</nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="label">Natureza:</label>
                      <nb-select [(selected)]="position" class="position-select" fullWidth>
                        <nb-option *ngFor="let p of positions" [value]="p">{{ p }}</nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="label">Classe:</label>
                      <nb-select [(selected)]="position" class="position-select" fullWidth>
                        <nb-option *ngFor="let p of positions" [value]="p">{{ p }}</nb-option>
                      </nb-select>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- calendario -->
              <div class="row">
                <div class="calendar-container">
                  <label class="label">Data Inicial</label>
                  <nb-calendar [(date)]="date" [boundingMonth]="true" showWeekNumber></nb-calendar>
                </div>
                <div class="calendar-container">
                  <label class="label">Data Final</label>
                  <nb-calendar [(date)]="date2" [boundingMonth]="true" showWeekNumber></nb-calendar>
                </div>
              </div> 
            </div>

            <!--Stepper-->
            <nb-stepper orientation="horizontal" disableStepNavigation selectedIndex="-1">
              <nb-step [label]="labelOne">
                <ng-template #labelOne>First step</ng-template>
              </nb-step>
              <nb-step [label]="labelTwo">
                <ng-template #labelTwo>Second step</ng-template>
              </nb-step>
              <nb-step label="Third step">
              </nb-step>
              <nb-step [label]="labelFour">
                <ng-template #labelFour>Fourth step</ng-template>
              </nb-step>
            </nb-stepper>

            <!--Grafico-->
            <div class="row">
              <div class="col-lg-6">
                    <ngx-charts-bar-vertical
                      [scheme]="colorScheme"
                      [results]="results"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel">
                    </ngx-charts-bar-vertical>
              </div>
              <div class="col-lg-6">
                    <ngx-charts-bar-vertical
                      [scheme]="colorScheme"
                      [results]="results"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel">
                    </ngx-charts-bar-vertical>
              </div>
            </div>

            
            
          </nb-tab>
          <nb-tab tabTitle="Process">

            <div class="row">
              <div class="col-md-2 col-sm-12">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="label">Tipo de Justiça:</label>
                      <nb-select [(selected)]="position" class="position-select" fullWidth>
                        <nb-option *ngFor="let p of positions" [value]="p">{{ p }}</nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="label">Tribunal:</label>
                      <nb-select [(selected)]="position" class="position-select" fullWidth>
                        <nb-option *ngFor="let p of positions" [value]="p">{{ p }}</nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="label">Natureza:</label>
                      <nb-select [(selected)]="position" class="position-select" fullWidth>
                        <nb-option *ngFor="let p of positions" [value]="p">{{ p }}</nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="label">Classe:</label>
                      <nb-select [(selected)]="position" class="position-select" fullWidth>
                        <nb-option *ngFor="let p of positions" [value]="p">{{ p }}</nb-option>
                      </nb-select>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- calendario -->
              <div class="row">
                <div class="calendar-container">
                  <label class="label">Data Inicial</label>
                  <nb-calendar [(date)]="date" [boundingMonth]="true" showWeekNumber></nb-calendar>
                </div>
                <div class="calendar-container">
                  <label class="label">Data Final</label>
                  <nb-calendar [(date)]="date2" [boundingMonth]="true" showWeekNumber></nb-calendar>
                </div>
              </div> 
            </div>

            <!--Stepper-->
            <nb-stepper orientation="horizontal" disableStepNavigation selectedIndex="-1">
              <nb-step [label]="labelOne">
                <ng-template #labelOne>First step</ng-template>
              </nb-step>
              <nb-step [label]="labelTwo">
                <ng-template #labelTwo>Second step</ng-template>
              </nb-step>
              <nb-step label="Third step">
              </nb-step>
              <nb-step [label]="labelFour">
                <ng-template #labelFour>Fourth step</ng-template>
              </nb-step>
            </nb-stepper>

            <div class="row">
              Imagem do Processo
            </div>
            
          </nb-tab>
          <nb-tab tabTitle="Predict" >

            <div class="row">
              <div class="col-md-2 col-sm-12">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="label">NPU</label>
                      <input type="text" nbInput fullWidth placeholder="NPU">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Stepper-->
            
            <nb-stepper orientation="horizontal" >
              <nb-step *ngFor="let fases of getDadosTabelaPredictFases(); let i = index" label="{{ fases.nome  }} - {{ fases.situacao }}"> 
                <p class="lorem">
                Data Inicio : {{ fases.dataInicio }} 
                </p>
                <p class="lorem">
                Data Conclusão : {{ fases.dataConclusao }}  
                </p>
              </nb-step> 
            </nb-stepper>

            <div class="row">
              <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
              </ng2-smart-table>  
            </div>

            <div class="col-md-12 col-lg-6 col-xxxl-6">
              <nb-list
                nbInfiniteList
                [threshold]="500">
                <nb-list-item *ngFor="let dados of getDadosTabelaPredictAlertas()">
                  <article>
                    <p>{{dados.nome}}</p>
                    <h2>{{dados.valor}}</h2>
                  </article>
                </nb-list-item>
              </nb-list>
            </div>
            
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>


