<nb-card>
  <nb-card-body>
    <nb-tabset (changeTab)="carregarAba($event)">
      <nb-tab tabTitle="Visão Geral" >

        <ngx-filtro 
          buttonOkLabel="Aplicar Filtro" (okClicked)="onAplicarFiltro($event)"
          buttonCancelLabel="Limpar Filtro" (cancelClicked)="onLimparFiltro($event)"
          (onTipoJusticaSelected)="onAplicarFiltro($event)"
          (onTribunalSelected)="onAplicarFiltro($event)"
          #visaoGeralFiltro></ngx-filtro>

        <iframe 
            [src]="dashboardUrl"    
            frameborder="0" scrolling="no" width="100%" style="min-height: 1800px;"
            allowtransparency ></iframe>

      </nb-tab>

      <nb-tab tabTitle="Fluxo">

        <ngx-filtro 
          buttonOkLabel="Adicionar" (okClicked)="onAdicionarModeloProcesso($event)"
          buttonCancelLabel="Limpar" (cancelClicked)="onLimparModeloProcesso($event)"
          showAtuacaoOrgaoJulgador="true" showProcessosCompletos="true"
          #fluxoFiltro>
        </ngx-filtro>

        <div class="row">
          <div *ngFor="let filtro of filtrosPm; let idx = index"
            [class]="filtro.maximized ? 'col-md-12 col-sm-12' : 'col-md-6 col-sm-12'">
            <nb-flip-card [showToggleButton]="false" #cardComponent1>
              <nb-card-front>
                <nb-card accent="info" [size]="filtro.maximized ? 'large' : 'medium'">
                  <nb-card-header>
                    <div class="row">
                      <div class="col-10 d-flex justify-content-start">
                        <nb-actions size="small" fullWidth>
                          <nb-action *ngIf="filtro.tipoJustica != null">
                            <nb-icon class="action-icon" icon="chevron-right"></nb-icon>
                            <span>{{filtro.tipoJustica.descricao}}</span>
                          </nb-action>
                          <nb-action *ngIf="filtro.tribunal != null">
                            <nb-icon class="action-icon" icon="chevron-right"></nb-icon>
                            <span>{{filtro.tribunal.codigo}}</span>
                          </nb-action>
                          <nb-action *ngIf="filtro.atuacaoOrgaoJulgador != null">
                            <nb-icon class="action-icon" icon="chevron-right"></nb-icon>
                            <span>{{filtro.atuacaoOrgaoJulgador.descricao}}</span>
                          </nb-action>
                          <nb-action *ngIf="filtro.natureza != null">
                            <nb-icon class="action-icon" icon="chevron-right"></nb-icon>
                            <span>{{filtro.natureza.descricao}}</span>
                          </nb-action>
                          <nb-action *ngIf="filtro.classe != null">
                            <nb-icon class="action-icon" icon="chevron-right"></nb-icon>
                            <span>{{filtro.classe.descricao}}</span>
                          </nb-action>
                        </nb-actions>
                      </div>
                      <div class="col-2 d-flex justify-content-end">
                        <nb-actions size="small" fullWidth>
                          <nb-action>
                            <nb-icon class="action-icon" icon="repeat-outline" (click)="toggleCard($event,cardComponent1)"></nb-icon>
                          </nb-action>
                          <nb-action>
                            <nb-icon class="action-icon" icon="maximize" 
                              [icon]="filtro.maximized ? 'minimize' : 'maximize'"
                              (click)="maximizarModeloPm(filtro, idx)"></nb-icon>
                          </nb-action>
                          <nb-action>
                            <nb-icon class="action-icon" icon="close-circle-outline" (click)="removerModeloPm(filtro)"></nb-icon>
                          </nb-action>
                        </nb-actions>
                      </div>
                    </div>
                  </nb-card-header>
                  <nb-card-body class="expandHeight">
                    <div class="row expandHeight">
                      <div class="col d-flex justify-content-center modelosvg"
                        *ngIf="filtro.svgContent != null" 
                        [innerHTML]="filtro.svgContent" id="divModeloPm_{{idx}}">
                      </div>
                    </div>
                  </nb-card-body>
                  <nb-card-footer>
                    <div class="row">
                      <div class="col-md-6 col-sm-12 align-self-center">
                        <div class="row">
                          <div class="col-12">
                            Sensibilidade do modelo
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <mat-slider thumbLabel horizontal color="primary"
                            (change)="onChangeSensibilidade($event, filtro, idx)"
                            min="0" max="100" step="5" [(value)]="filtro.sensibilidade"></mat-slider>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <div class="row">
                          <div class="col-12" style="padding-bottom: 0.75em;">
                            Métrica
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <mat-radio-group aria-label="Selecione a metrica" [(ngModel)]="filtro.metrica"
                              color="primary"
                              (change)="onChangeMetrica($event, filtro, idx)">
                              <mat-radio-button *ngFor="let item of metricasPm" color="primary"
                                [value]="item">{{item == 'FREQUENCY' ? 'Frequência ' : 'Performance '}} <span>&nbsp;</span></mat-radio-button>
                            </mat-radio-group>
                          </div>
                        </div>
                      </div>
                    </div>
                  </nb-card-footer>
                </nb-card>
              </nb-card-front>
              <nb-card-back>
                <nb-card accent="danger" [size]="filtro.maximized ? 'large' : 'medium'">
                  <nb-card-header>
                    <div class="row">
                      <div class="col-10 d-flex justify-content-start">
                        <nb-actions size="small" fullWidth>
                          <nb-action *ngIf="filtro.tipoJustica != null">
                            <nb-icon class="action-icon" icon="chevron-right"></nb-icon>
                            <span>{{filtro.tipoJustica.descricao}}</span>
                          </nb-action>
                          <nb-action *ngIf="filtro.tribunal != null">
                            <nb-icon class="action-icon" icon="chevron-right"></nb-icon>
                            <span>{{filtro.tribunal.codigo}}</span>
                          </nb-action>
                          <nb-action *ngIf="filtro.atuacaoOrgaoJulgador != null">
                            <nb-icon class="action-icon" icon="chevron-right"></nb-icon>
                            <span>{{filtro.atuacaoOrgaoJulgador.descricao}}</span>
                          </nb-action>
                          <nb-action *ngIf="filtro.natureza != null">
                            <nb-icon class="action-icon" icon="chevron-right"></nb-icon>
                            <span>{{filtro.natureza.descricao}}</span>
                          </nb-action>
                          <nb-action *ngIf="filtro.classe != null">
                            <nb-icon class="action-icon" icon="chevron-right"></nb-icon>
                            <span>{{filtro.classe.descricao}}</span>
                          </nb-action>
                        </nb-actions>
                      </div>
                      <div class="col-2 d-flex justify-content-end">
                        <nb-actions size="small" fullWidth>
                          <nb-action>
                            <nb-icon class="action-icon" icon="repeat-outline" (click)="toggleCard($event,cardComponent1)"></nb-icon>
                          </nb-action>
                          <nb-action>
                            <nb-icon class="action-icon" icon="maximize" 
                              [icon]="filtro.maximized ? 'minimize' : 'maximize'"
                              (click)="maximizarModeloPm(filtro, idx)"></nb-icon>
                          </nb-action>
                          <nb-action>
                            <nb-icon class="action-icon" icon="close-circle-outline" (click)="removerModeloPm(filtro)"></nb-icon>
                          </nb-action>
                        </nb-actions>
                      </div>
                    </div>
                  </nb-card-header>
                  <nb-card-body>
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <ng2-smart-table id="smartTableModeloPm_{{idx}}" [settings]="configTabelaEstatistica" [source]="filtro.dadosTabelaEstatistica">
                        </ng2-smart-table>  
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 d-flex justify-content-end py-2">
                        <button nbButton status="info" (click)="onClickVerficarConformidade(filtro)">
                          Verificar conformidade nos Orgãos Julagores de mesma atuação
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <ng2-smart-table id="smartTableModeloPmOj_{{idx}}" [settings]="configTabelaOrgaoJulgadorModelFit" [source]="filtro.dadosTabelaOrgaosJulgadoresModelFit">
                        </ng2-smart-table>  
                      </div>
                    </div>
                  </nb-card-body>
                </nb-card>  
              </nb-card-back>
            </nb-flip-card>
          </div>
        </div>
      </nb-tab>

      <nb-tab tabTitle="Previsões">
        
        <nb-card [nbSpinner]="loadingPredict"
        nbSpinnerStatus="warning"
        nbSpinnerSize="giant"
        nbSpinnerMessage="">
          <nb-card-body >
            <div class="row">
              <div class="col-md-3 col-sm-12">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <input type="text" #npu fullWidth nbInput placeholder="NPU">
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-md-3 col-sm-12">
                <div class="form-group">
                  <button nbButton status="info" (click)="pesquisarNpu(npu.value)">Pesquisar</button>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>

        <nb-card #card [(hidden)]="!exibirResultadoNaoLocalizado">
          <nb-card-body >
            <div class="col-md-12">
              Processo não localizado
            </div>
          </nb-card-body>
        </nb-card>

        <nb-card #card [(hidden)]="!exibirResultadoPredict">
          <nb-card-body >
            <div class="col-md-12">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <h4>Dados do Processo</h4>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="summary-container">
                            <div><label class="label">Tribunal</label></div>
                            <div class="h6">{{ dadosProcessoSiglaTribunal }}</div>
                        </div>
                      </div>
                      <div class="col-md-9">
                        <div class="summary-container">
                              <div><label class="label">Orgão Julgador</label></div>
                              <div class="h6">{{ dadosProcessoOrgaoJulgador }}</div> 
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="summary-container">
                            <div><label class="label">Natureza</label></div>
                            <div class="h6">{{ dadosProcessoNatureza }}</div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="summary-container">
                              <div><label class="label">Classe</label></div>
                              <div class="h6">{{ dadosProcessoClasse }}</div> 
                        </div>
                      </div>
                      <div class="col">
                        <div class="summary-container">
                              <div><label class="label">Assunto</label></div>
                              <div class="h6">{{ dadosProcessoAssunto }}</div> 
                        </div>
                      </div>
                    </div> 
                  </div>
                </div>
              </div>
            </div>
          
          <br>

            <div class="col-md-12">
              <!--Stepper-->
              <nb-stepper orientation="horizontal">
                <nb-step *ngFor="let historico of historicoFases; let i = index" 
                label="{{ historico.nome }} - {{ historico.situacao }}"> 
                  <p>Data Inicio: {{ historico.dataInicio }} </p>
                  <p>Data Conclusão: {{ historico.dataConclusao }} </p>
                </nb-step>
              </nb-stepper>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <h4>Fases do Processo</h4>
                      <ng2-smart-table [settings]="configTabelaPredict" [source]="dadosTabelaPredict">
                      </ng2-smart-table>  
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <h4>Alertas</h4>
                  <nb-card class="list-card" size="small">
                    <nb-list>
                      <nb-list-item *ngFor="let dados of alertas">
                        <article>
                          <p>{{dados.nome}}</p>
                          <h6>{{dados.valor}}</h6>
                        </article>
                      </nb-list-item>
                    </nb-list>
                  </nb-card>
                </div>
              </div>
            </div>
            
          </nb-card-body>
        </nb-card>
        
      </nb-tab>

      <nb-tab tabTitle="Configurações">

        <nb-card [nbSpinner]="loadingConfig"
          nbSpinnerStatus="warning"
          nbSpinnerSize="giant"
          nbSpinnerMessage="">
          <nb-card-header>Cadastrar Fase</nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-md-3 col-sm-12">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="inputDescricao" class="label">Descrição</label>
                      <input #fase type="text" nbInput fullWidth id="inputDescricao" [(ngModel)]="descricaoFase">  
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label class="label">Tipo de Justiça:</label>
                      <nb-select
                        (selectedChange)="carregarTribunalConfig($event)"
                        [(ngModel)]="tipoJusticaConfig"
                        class="position-select"
                        fullWidth
                      >
                        <nb-option *ngFor="let tipoJusticaConfig of tiposJusticaConfig" [value]="tipoJusticaConfig">{{
                          tipoJusticaConfig.descricao
                        }}</nb-option>
                      </nb-select> 
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label class="label">Tribunal:</label>
                      <nb-select
                        [(ngModel)]="tribunalConfig"
                        class="position-select"
                        fullWidth
                        [disabled]="disabledTribunalConfig"
                      >
                      <nb-option *ngFor="let tribunalConfig of tribunaisConfig" [value]="tribunalConfig">{{
                        tribunalConfig.descricao
                      }}</nb-option>
                      </nb-select>  
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-12 col-lg-6">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <button nbButton status="info" (click)="onSaveConfirm($event)">Salvar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <!-- calendario data inicial -->
              <div class="col-md-9 col-sm-12">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <mat-form-field style="width:90% !important">
                        <mat-label>Selecione o Movimento</mat-label>
                        <input type="text" matInput [formControl]="myControl" [(value)]="pesquisaAutoComplete" [matAutocomplete]="autoMovimento">
                        <mat-autocomplete #autoMovimento="matAutocomplete" autoActiveFirstOption panelWidth="auto"
                          [displayWith]="displayFn" (optionSelected)='onOptionSelected($event)'>
                          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option.codigo}} - {{option.descricao}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>  
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label class="label">Lista de Movimentos</label>
                      <nb-card class="list-card" size="small">
                        <nb-card-body>
                          <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                              <mat-action-list>
                                <mat-list-item *ngFor="let movimento of movimentos" [value]="movimento">
                                  <mat-icon mat-list-icon>
                                  <i class="nb-trash" (click)="onRemoverMovimentoLista($event, movimento)"></i>
                                  </mat-icon>
                                  <div mat-line>{{movimento.codigo}} - {{movimento.descricao}}</div>
                                  <div mat-line>código completo: {{movimento.codigoCompleto}}</div>
                                </mat-list-item>
                              </mat-action-list>
                            </div>
                          </div>
                        </nb-card-body>
                      </nb-card>
                    </div>  
                  </div>
                </div>
              </div>
            </div>       
          </nb-card-body>
        </nb-card>
        
        <nb-card [nbSpinner]="loadingConfig"
          nbSpinnerStatus="warning"
          nbSpinnerSize="giant"
          nbSpinnerMessage="">
          <nb-card-body>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label class="label">Lista de Fases</label>
                      <ng2-smart-table [settings]="configTabelaFase" [source]="dadosTabelaFase" (custom)="onClickTable($event)" (deleteConfirm)="onDeleteConfirm($event)">
                      </ng2-smart-table>  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>